doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    meta(charset="UTF-8")
    title Zoom 
  body
    header
      h1 Zoom
    main
      h2 Welcome to Zoom
    script(src="/public/js/app.js")  