doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Zoom 
        main
            div#welcome
                form
                    input(id="nickname" placeholder="닉네임" type="text" required)
                    input(id="roomname" placeholder="방이름" type="text" required)
                    button 입장하기
                h4 방 목록
                ul
            div#room
                h3
                ul
                form#message
                    input(placeholder="메세지를 입력하세요." type="text" required)
                    button 보내기
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js") 